*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* body{
    overflow: hidden;
    background-image: url(./assets/background.webp);
    background-size: cover;
} */

.header{
    height: 60vh;
    background: linear-gradient(90deg, rgba(78,9,110,1) 0%, rgba(3,3,85,1) 46%, rgba(0,66,20,1) 100%);
}

.nav{
    position: sticky;
    background-color: rgba(221, 221, 221, 0.08);
}

ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav a{
    padding: 1rem 2rem;
}

.routes{
    float: left;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
}

.about{
    border-bottom: 20px double cyan;
    height: 70vh;
    background-image: url("./assets/images.jpg");
    background-size: cover;
}

.nav1{
    display:inline-flex;
    padding: 10px 20px;
    border-bottom-right-radius: 20px;
    background-color: teal;
    align-items: center;
    box-shadow: 10px 10px 2px 1px rgba(0, 255, 221, 0.2);
}

.content{
    display: flex;
    padding: 7rem 1rem 4rem 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content h1{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans' ;
    font-weight: 700;
    font-size: 3rem; 
    background: -webkit-linear-gradient(45deg, deepskyblue 10%, skyblue 20%, lightseagreen 40%, mediumspringgreen 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h2{
    color:aqua;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
    font-size: 2.5rem;
}

.content h6{
    /* color: mediumspringgreen; */
    color: white;
    font-weight: 300;
    padding: 10px 0px 10px 0px;
    font-size: 25px;
}

.about_heading{
    padding-left: 10px;
    color:white;
    font-weight: 450;
}

.home_icon{
    padding: 10px;
    scale: 1;
    background: -webkit-linear-gradient(135deg, rgb(127, 238, 160) 20%, rgb(111, 240, 197) 40%,   rgb(126, 220, 243) 50%, rgb(195, 161, 235) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 3px dashed rgba(125, 233, 233,0.7);
    border-radius: 100%;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0px; 
    padding: 20px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, rgba(198, 116, 236,0.8) 20%, rgba(90, 187, 216,0.8) 60%, rgba(127, 238, 160,0.8) 100%);
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
}

.card img{
    object-fit: scale-down;
    background-color: aliceblue;
    height: 100%;
    max-height: 150px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card h3{
    padding: 1.5rem 1rem;
    color: darkblue;
    font-weight: 500;
}

/* Animation */
span{
    position: absolute;
    pointer-events: none;
    background: #fff;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%{
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-500%) rotate(360deg);
        opacity: 0;
    }
}