*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url("./assets/background.webp");
    background-size: cover;
}

.favicon{
    border-radius: 100%;
    border:  5px solid teal;
} 

.nav{
    justify-content: space-evenly;
    background-color: teal;
    align-items: center;
    overflow: hidden;
}

.about{
    border-bottom: 20px double cyan;
    height: 70vh;
    background-image: url("./assets/images.jpg");
    background-size: cover;
}

.nav1{
    display:inline-flex;
    padding: 10px 20px;
    border-bottom-right-radius: 20px;
    background-color: teal;
    align-items: center;
    box-shadow: 10px 10px 2px 1px rgba(0, 255, 221, 0.2);
}

.routes{
    float: left;
    padding: 15px 20px;
    display: block;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.content{
    background: linear-gradient(90deg, rgba(78,9,110,1) 0%, rgba(3,3,85,1) 46%, rgba(0,66,20,1) 100%);
    padding-bottom: 50px;
}

.content h1{
    text-align: center;
    font-weight: 700;
    padding: 40px 0px 10px 0px;
    font-size: 48px;
    background: -webkit-linear-gradient(45deg, rgb(198, 116, 236) 30%, rgb(90, 187, 216) 40%, rgb(127, 238, 160) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h2{
    color:aqua;
    text-align: center;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
    font-size: 36px;
}

.content h6{
    color: mediumspringgreen;
    text-align: center;
    font-weight: 300;
    padding: 10px 0px 10px 0px;
    font-size: 25px;
}

.about_heading{
    color:white;
    font-weight: 450;
}

.home_icon{
    scale: 1.5;
    background: -webkit-linear-gradient(135deg, rgb(127, 238, 160) 20%, rgb(111, 240, 197) 40%,   rgb(126, 220, 243) 50%, rgb(195, 161, 235) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0px; 
    padding: 20px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, rgba(198, 116, 236,0.8) 20%, rgba(90, 187, 216,0.8) 60%, rgba(127, 238, 160,0.8) 100%);
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
}

.card img{
    object-fit: scale-down;
    background-color: aliceblue;
    height: 100%;
    max-height: 150px;
    box-sizing: border-box;
}

.card h3{
    padding: 1.5rem 1rem;
    color: darkblue;
    font-weight: 500;
}